.image-container {
    display: flex; /* Utilizamos flexbox para alinear elementos en línea */
    justify-content: center; /* Centramos los elementos horizontalmente */
    flex-wrap: wrap; /* Permitimos que los elementos se envuelvan a una nueva línea si no caben en el ancho disponible */
    width: 640px;
    margin: 90px auto;
    border: 2px solid black; 
}
  
  .image-container div {
    flex: 0 0 25%; /* Establecemos el ancho deseado para cada imagen, aquí se muestra un 25% */
    padding: 5px; /* Agregamos un espacio entre las imágenes */
    box-sizing: border-box; /* Aseguramos que el padding no aumente el tamaño del div */
  }
  
  img {
    width: 120px; /* Hacemos que las imágenes ocupen todo el ancho disponible en su contenedor */
    height: auto; /* Mantenemos la proporción de aspecto de las imágenes */
    border: 1px solid black;
  }
  